II_SYSTEM={{ ingres_system_directory }}
II_WORK={{ ingres_work_directory }}
II_LOG_FILE={{ ingres_log_file_directory }}
II_CHECKPOINT={{ ingres_checkpoint_directory }}
II_JOURNAL={{ ingres_journal_directory }}
II_DUMP={{ ingres_dump_directory }}
II_DUAL_LOG={{ ingres_dual_log_directory }}
II_DATABASE={{ ingres_database_directory }}
II_TIMEZONE_NAME={{ ingres_timezone_name }}
II_ENABLE_SQL92={{ ingres_enable_sql92 }}
II_USERID={{ ingres_user_name }}
II_GROUPID={{ ingres_group_name }}
II_CHARSET={{ ingres_charset }}
II_LICENSE_DIR={{ ingres_license_dir }}
